@font-face {
    font-family: 'wfregular';
    src: url('wf.eot');
    src: url('wf.eot?#iefix') format('embedded-opentype'),
         url('wf.woff') format('woff'),
         url('wf.ttf') format('truetype'),
         url('wf.svg#wfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
