<!DOCTYPE html>
<html>
  <head>
    <title>Zombies at my Conference: <%= slug %> <%= year %></title>
        <link href='http://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nosifer">
    <link href='http://fonts.googleapis.com/css?family=Jolly+Lodger' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!--[if lte IE 8]>
       <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->

    <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/maps.css" />
  </head>
  <body>
    <audio id="z1" src="/sounds/z1.mp3" ></audio> 
    <audio id="z2" src="/sounds/z2.mp3" ></audio> 
    <audio id="z3" src="/sounds/z3.mp3" ></audio> 
    <audio id="z4" src="/sounds/z4.mp3" ></audio> 
    <audio id="z5" src="/sounds/z5.mp3" ></audio> 
    <audio id="z6" src="/sounds/z6.mp3" ></audio> 
    <audio id="z7" src="/sounds/z7.mp3" ></audio> 
    <audio id="no-beer-sound" src="/sounds/xbeer.mp3" ></audio> 
    <audio id="no-dubstep-sound" src="/sounds/xdubstep.mp3" ></audio> 
    <div id="map"></div>
    <div class="header">
      <h1 id="conference-name"></h1>
      <button class="tiny button" id="attract-humans"><i class="fa fa-beer"></i>&nbsp;Attract Humans with Free Beer</button>
      <button class="tiny button" id="attract-zombies"><i class="fa fa-music"></i>&nbsp;Attract Zombies with Dubstep</button>
    </div>
    <div class="controls">
      <iframe id="nko" src="http://nodeknockout.com/iframe/0x" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
      </iframe>
      <ul id="list">
      </ul>
    </div>
    <div class="ticker">
      <h2 id="ticker"></h2>
    </div>
    <div class="waiting">
      <h1 class="waiting">Preparing for the Apocalypse...</h1>
    </div>
    <!-- scripts -->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/leaflet.awesome-markers.min.js"></script>
    <script>
      var conference = {
        slug: '<%= slug %>',
        year: <%= year %>,
        lat: <%= lat %>,
        lng: <%= lng %>
      };
    </script>
    <script src="/js/client.js"></script>
  </body>
</html>
