<!DOCTYPE html>
<html>
  <head>
    <title>Zombies at my Conference: <%= slug %> <%= year %></title>
    <link href='http://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nosifer">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
       <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/maps.css" />
  </head>
  <body> 
    <div id="map"></div>
    <div class="header">
      <h1 id="conference-name">&nbsp;</h1>
    </div>
    <div class="controls">
      <iframe id="nko" src="http://nodeknockout.com/iframe/0x" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
      </iframe>
      <ul id="list">
      </ul>
    </div>
    <!-- scripts -->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
      var conference = {
        slug: '<%= slug %>',
        year: <%= year %>,
        lat: <%= lat %>,
        lng: <%= lng %>
      };
    </script>
    <script src="/js/client.js"></script>
  </body>
</html>
