<!DOCTYPE html>
<html>
  <head>
    <title>Zombies at my Conference</title>
    <link href='http://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nosifer">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body> 
    <h1>zombies at my conference</h1>
    <ul>
      <li><a href="/conference/nodeconfeu/2013/unknown?lat=52.25350&lng=-7.05934">NodeConf EU 2013</a></li>
      <li><a href="/conference/jsconfeu/2013/unknown">JSConf EU 2013</a></li>
      <li><a href="/conference/gbnc/2013/unknown">Great British Node Conference 2013</a></li>
    </ul>
  </body>
</html>
