<!DOCTYPE html>
<html>
<head>
<title>Zombies At My Conference!!</title>
<link rel="stylesheet" href="/fonts/fonts.css" />
<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/foundation.min.css" />
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/index.css" />

<div class="row">
  <h1 id="big">Zombies At My Conference</h1>
</div>
<div class="row">
  <div class="large-9 columns">
    <p>Have you ever wondered what would happen if the zombie apocalypse began whilst you were at a conference? Would you survive?
    Would you risk your life drinking free beer, or just run away?</p>
    <p> Zombies at my conference is a multiplayer zombie simulation where you select a conference to watch as the battle between zombies and humans plays out.
    You can add and move free beer around the map to attract humans and you can play Dubstep to attract zombies (you knew zombies love Dubstep didn't you).
    Who do you want to win? Now's your chance to finish off that annoying fella you met at <a href="/conference/2013/nodeconfeu?lat=52.25350&lng=-7.05934">NodeConfEU</a>, 
    or rescue all your friends from the <a href="/conference/2013/gbnc">Great British Node Conference</a>.
    </p>
    <p>
    Remember, all viewers are seeing the same thing, and <strong>you</strong> can change the outcome by influencing the simulation.
    All characters appearing are fictitious. Any resemblance to real persons, living, dead or undead is purely the fault of lanyrd.
    </p>
    <p>Brought to you by <a href="https://github.com/roylines">Roy Lines</a> and <a href="https://github.com/jamesbloomer">James Bloomer</a> competing as team <a href="http://nodeknockout.com/teams/0x">0x</a> in <a href="http://nodeknockout.com">Node Knockout 2013</a>.</p>
  </div>
  <div class="large-3 columns">
    <h4>Start One</h4>
    <ul>
      <li><a href="/conference/2013/nodeconfeu?lat=52.25350&lng=-7.05934">NodeConf Europe 2013</a></li>
      <li><a href="/conference/2013/jsconfeu">JSConf EU 2013</a></li>
      <li><a href="/conference/2013/gbnc">The Great British Node Conference 2013</a></li>
      <li><a href="/conference/2013/ogn33">Oxford Geek Night 33</a></li>
    </ul>
    <h4>Find One</h4>
    <input id="search-text" placeholder="conference name" type="text"></input>
    <a id="search" class="button small">Search</a>
    <ul id="search-results">
    </ul>
    <h4>Running Now</h4>
    <ul id="active-list">
    </ul>
  </div>
</div>
<div class="row">
  <h6 class="large-9 columns">Thanks to <a href="http://www.freesfx.co.uk">FreeSFX</a> for their brilliant sounds, and <a href="http://www.flickr.com/photos/scotbot">Scott Wylie</a> for his apocalyptic image of Didcot.</h6>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
