<!DOCTYPE html>
<html>
  <head>
    <title>Zombies at my Conference</title>
    <link href='http://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nosifer">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body> 
    <h1>zombies at my conference</h1>
    <p>Have you ever wondered what would happen if the zombie apocalypse began whilst you where at a conference? Would you survive?
    Would you risk your life collecting stickers, or just run away?</p>
    <p>Zombies at my conference is a multiplayer zombie simulation written for Node Knockout 2013.
    You select a conference to simulate, or join one already running, and watch how it pans out.
    You can place stickers to attract humans or brains to attract zombies. Who do you want to win? Now's your chance to finish off
    that annoying fella you met at <a href="/conference/nodeconfeu/2013/unknown?lat=52.25350&lng=-7.05934">NodeConfEU</a>, 
    or rescue all your friends from the <a href="/conference/gbnc/2013/unknown">Great British Node Conference</a>.</p>
    <p>
    Remember, all viewers are seeing the same thing, and <strong>you</strong> can change the outcome by influencing the simulation.
    </p>
    <h2>Some Conferences to Attend</h2>
    <ul>
      <li><a href="/conference/nodeconfeu/2013/unknown?lat=52.25350&lng=-7.05934">NodeConf EU 2013</a></li>
      <li><a href="/conference/jsconfeu/2013/unknown">JSConf EU 2013</a></li>
      <li><a href="/conference/gbnc/2013/unknown">Great British Node Conference 2013</a></li>
    </ul>
    <iframe id="nko" src="http://nodeknockout.com/iframe/0x" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
  </body>
</html>
