html { 
  background: url(/img/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h6 {
  margin-top:20px;
}

p.vote {
  vertical-align: top;
}

