html, body, #map {
  height:100%;
  width:100%;
  padding:0px;
  margin:0px;
}

.controls, .header, .ticker {
  position:absolute;
  display: none;
}

h1 {
  font-size: 45px;
}

div.header {
  padding-left: 10px;
  padding-right: 10px;
  top: 5px;
  left: 50px;
  background-color:rgba(0, 0, 0, 0.2);
}

div.waiting {
  position:absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.8);
  text-align:center;
}

h1.waiting {
  font-size: 80px;
  margin-top: 200px;
}

.header > h1, .ticker > h4 {
  color: rgba(138, 7, 7, 0.8);
}

div.controls {
  padding: 5px;
  width: 20%;
  height: 95%; 
  overflow: auto;
  background-color:rgba(0, 0, 0, 0.8);
  top: 5px;
  right: 5px;
}
div.ticker {
  padding: 5px;
  bottom: 0px;
  left: 5px;
  background-color:rgba(0, 0, 0, 0.2);
}

li {
  color: white;
  font-family: 'Jolly Lodger', cursive;
  font-size: 20px;
}
li > img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
li.zombie { 
  //color: #8A0707;
  text-decoration:line-through;
}
