html {
    background-color:  #3E390C;
    background: url(/img/didcot.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
  font-family: 'Francois One', Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
  background: 0;
  color: #BDB58E;
  margin: 20px;
}

.row {
  padding: 5px;
  background-color:rgba(0, 0, 0, 0.6);
}

audio {
  display: none;
}

h1, h2, h4 {
  color: #F0E3AC;
  margin: 0;
  padding: 0;
  font-family: 'wfregular', cursive;
  font-weight: 400;
}

#big {
  font-size: 80px;
  text-align: center;
  width: 90%;
}

h1 {
  font-size: 65px;
  margin-top: 10px;
  margin-botton: 15px;
}
 
a, a:visited {
  color: #BDB58E;
  text-decoration: underline; 
}

a:hover {
  color: #736D49;
  text-decoration: underline; 
}

p {
  font-size:18px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 16px;
}

.search > input {
  width: 400px;
  display: inline-block;
}
