html {
  background-color: #BDB58E;
}

body {
  font-family: 'Francois One', Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
  background:0;
}

audio {
  display: none;
}

h1, h2, h4 {
  margin: 0;
  padding: 0;
  font-family: 'wfregular', cursive;
  font-weight: 400;
  color: #1F1B10;
}

#big {
  font-size: 80px;
  text-align: center;
  width: 90%;
}

h1 {
  font-size: 65px;
  margin-top: 10px;
  margin-botton: 15px;
}
 
a, a:visited {
  color: #1F1B10;
  text-decoration: underline; 
}

a:hover {
  color: #736D49;
  text-decoration: underline; 
}

p {
  font-size:18px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 16px;
}

.search > input {
  width: 400px;
  display: inline-block;
}
